<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Management System</title>
    <link rel="stylesheet" th:href="@{/css/contact.css}">
</head>
<body>

<!-- Home Page Container -->
<div class="home-container">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>
    </nav>

    <div class="home-content">
        <h1>Contact Informations</h1><br>
        <p>
            Tundra Supermarket ၏ ဖောက်သည် ဝန်ဆောင်မှုအဖွဲ့နှင့် ဆက်သွယ်ရန် မည်သည့် မေးခွန်းများရှိပါက ဖော်ပြပါ ဖုန်းနံပါတ်ဖြင့် ဆက်သွယ်နိုင်ပါသည်။ +959 261 800 607 သို့မဟုတ် အီးမေးလ် info@tundrasupermarket.com မှတစ်ဆင့် ဆက်သွယ်နိုင်ပါသည်။ ဖောက်သည်ဝန်ဆောင်မှုအချိန်မှာ တနင်္လာနေ့မှ စနေနေ့အထိ၊ နံနက် ၉ နာရီမှ ညနေ ၆ နာရီအထိ ဖြစ်ပါသည်။ ကျွန်ုပ်တို့၏ ထုတ်ကုန်များနှင့် ဝန်ဆောင်မှုများအကြောင်း ပိုမိုသိရှိလိုပါက ကျွန်ုပ်တို့၏ ဝဘ်ဆိုက် www.tundrasupermarket.com တွင်လည်း သွားရောက်စစ်ဆေးနိုင်ပါသည်။

        </p><br>
        <h1>Office Address</h1><br>
        <p>
            Tundra Supermarket ၏ ရုံးချုပ်သည် ရန်ကုန် မြို့ကြီး၊ အင်းစိန်မြို့နယ် တွင်တည်ရှိသော၊ မင်းကြီးလမ်းမ ပေါ်တွင်တည်ရှိပါသည်။ ကျွန်ုပ်တို့၏ အဓိကရုံးသည် ကော်ပိုရေးရှင်းမေးခွန်းများ၊ မိတ်ဖက်ဆောင်ရွက်မှုများနှင့် စီးပွားရေးဆိုင်ရာကိစ္စများအတွက် ဖိတ်ခေါ်ခံယူပါသည်။ သင်သည် ကျွန်ုပ်တို့၏ ရုံးသို့ သွားရောက်လည်ပတ်ခြင်းဖြင့် ဈေးကွက်အဆင်ပြေမှုများနှင့် ပတ်သက်၍ ပိုမိုသိရှိနိုင်ပါသည်။
        </p><br>
        <h1>Market Locations</h1><br>
        <p>
            Tundra Supermarket သည် ရန်ကုန်မြို့အတွင်းအနေအထားသက်သာရာရှိသော တည်နေရာများတွင် အဆင်ပြေသော ဝန်ဆောင်မှုများ၊ လျှော့စျေးအရည်အသွေးမြင့်သော အစားအသောက်များကို ပေးဝေခြင်းဖြင့် ဖောက်သည်များ၏လိုအပ်ချက်များကို ဖြည့်ဆည်းပေးပါသည်။ ကျွန်ုပ်တို့၏ ပင်မဆိုင်ကို 45 Main Road, Downtown Area, Yangon, Myanmar တွင် တည်ရှိပါသည်။ ထို့အတူ၊ 78 Northgate Plaza, North Yangon နှင့် 32 Eastview Avenue, East Yangon တွင်လည်း ဆိုင်များရှိပါသည်။ မည်သည့်နေရာမှာရှိကြောင်းမဆို Tundra Supermarket ကို လွယ်ကူစွာ ရောက်ရှိနိုင်ပါသည်။
        </p>
    </div>
    <a href="/home"><button class="btn">Back</button></a>
</div>

</body>
</html>
