<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Management System</title>
    <link rel="stylesheet" th:href="@{/css/aboutus.css}">
</head>
<body>

<!-- Home Page Container -->
<div class="home-container">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home"></a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="home-content">
        <h1>Password မေ့နေပါသလား?</h1><br>
        <p class="alert-message">
            <strong>ဆောရီးပါဗျာ၊၊ Forgot Password အတွက်အချိန်မပေးနိုင်တော့လို့ မရေးတော့ပါဘူးနော်၊၊</strong>
        </p>
    </div>
    <a href="/login"><button class="btn">Back</button></a>
</div>

</body>
</html>
