<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Management System</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" th:href="@{/css/report.css}">
</head>
<body>

<!-- Home Page Container -->
<div class="home-container">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/addsupplier">Add Supplier</a></li>
            <li><a href="/supplierlist">Supplier List</a></li>
            <li><a href="/analysis">Analysis</a></li>
            <li><a href="/report">Report</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Report</h1>
        <!-- Grid Container for Tables -->
        <div class="table-grid">
            <!-- Iterate over each category and display top 5 suppliers -->
            <div th:each="categoryEntry : ${topFiveSuppliersByCategory}" class="table-wrapper">
                <h2>Top 5 Suppliers in Category: <span th:text="${categoryEntry.key}"></span></h2>
                <table>
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="supplier : ${categoryEntry.value}">
                        <td th:text="${supplier?.id}"></td>
                        <td th:text="${supplier?.name}"></td>
                        <td th:text="${supplier?.productCategory}"></td>
                        <td th:text="${supplier?.score}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="reminder"><strong>Reminder: Ranking algorithm works only when the number of suppliers is at least 20.</strong></p>
    </div>
</div>

</body>
</html>