<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Ranking System</title>
    <link rel="stylesheet" th:href="@{/css/aboutus.css}">
</head>
<body>

<!-- Home Page Container -->
<div class="home-container">
    <!-- Navigation Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="home-content">
        <h1>About Tundra Supermarket</h1><br>
        <p>


            Tundra Supermarket သို့ ကျွန်ုပ်တို့၏ဖိတ်ခေါ်မှုကို လက်ခံရောက်ရှိကြောင်း ဝမ်းမြောက်ပါသည်။ ကျွန်ုပ်တို့သည် အရည်အသွေးမြင့်သော ဟောခေါ်ဆိုင်သော အစားအသောက်များနှင့် သက်သော့သစ်ပင် အစုံကို ပံ့ပိုးပေးရန် ရည်ရွယ်ထားပါသည်။ ၂၀ နှစ်ကျော်တည်ထောင်ခဲ့ပြီး၊ ကျွန်ုပ်တို့၏ ရည်မှန်းချက်မှာ ဖောက်သည်များအား မိမိတို့လိုအပ်သော အခြေခံပစ္စည်းများနှင့် ကမ္ဘာတစ်လွှားမှ အထူးအစားအသောက်များကို ပံ့ပိုးပေးခြင်းဖြစ်သည်။ ကျွန်ုပ်တို့သည် အရ freshest အစုံကို ရယူခြင်းအား မျှော်လင့်၍၊ လူကြီးမင်းတို့၏ ရှိမှတ်အတွေ့အကြုံကို လွယ်ကူ၊ ပျော်ရွှင်မှုနှင့် အကျိုးအမြတ် ရရှိစေရန် ကြိုးစားပါသည်။
            <br><br>
            Tundra Supermarket တွင် ကျွန်ုပ်တို့သည် အရည်အသွေးနှင့် စျေးနှုန်းများ၏ အရေးကြီးမှုကို နားလည်ပြီး၊ အမျိုးမျိုးသော အစားအသောက်ပစ္စည်းများကို စိတ်ကြိုက်ရွေးချယ်နိုင်ပါသည်။ အထူးသဖြင့် သဘာဝအသားအရေ ကုန်ပစ္စည်းများမှ စတင်၍ နိုင်ငံတကာအစားအသောက်များအထိ ကျွန်ုပ်တို့၏ စင်ပေါင်းများသည် လိုအပ်သော ပစ္စည်းများကို ဖြည့်ဆည်းရန် ရှိပါသည်။ ကျွန်ုပ်တို့၏ အရည်အသွေးတိုးတက်မှု၊ ဖောက်သည်ပြည့်စုံမှုနှင့် အဖွဲ့အစည်းကို ထောက်ပံ့ပေးခြင်းသည် ကျွန်ုပ်တို့၏ လုပ်ငန်းအခြေခံဖြစ်ပြီး၊ ထိပ်တန်း အရည်အသွေးနှင့် ဖောက်သည်ဝန်ဆောင်မှုကို ထိန်းသိမ်းရန် ဆက်လက်ကြိုးစားနေပါသည်။
        </p>
    </div>
    <a href="/home"><button class="btn">Back</button></a>
</div>

</body>
</html>
