<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Ranking System</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<nav class="navbar">
    <h1>TrustLink Corporation</h1>
</nav>

<!-- Home Page Container -->
<div class="home-container">
    <!-- Main Content -->
    <div class="login-box">
        <h2>Admin Login</h2>
        <form  th:action="@{/login}" method="POST">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="button-group">
                <button type="submit" class="login-btn">Login</button>
            </div>
            <div class="additional-options">
                <a href="/forgot">Forgot Password?</a>
            </div>
        </form>
    </div>

</div>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
